node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

test/Lock.js
scripts/deploy.js
contracts/Lock.sol
contracts/leaderboard.sol
contracts/leaderboard2.sol
